name: CI/CD Pipeline

on:
  # Triggers the workflow on push events to the main/dev branches
  push:
    branches:
      - main
      - dev
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build_and_lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest flake8

      - name: Run Flake8 Linting (Code Quality Check)
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics --exclude=venv,.venv,migrations

      - name: Run Pytest (Unit Tests)
        run: |
          pytest tests

  build_docker_image:
    runs-on: ubuntu-latest
    needs: build_and_lint

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: |
          docker build . --file Dockerfile --tag intelligent-content-api:latest